[submodule "code/odos-mpi/miniweather"]
	path = code/odos-mpi/miniweather
	url = https://gitlab.bsc.es/musman/miniweather.git
[submodule "code/odos-mpi/omb-odos"]
	path = code/odos-mpi/omb-odos
	url = https://gitlab.bsc.es/musman/omb-odos.git
